$$ ITI \space AI-Pro: \space Intake \space 45 $$
$$ Recommender \space Systems $$
$$ Lab \space no. \space 2 $$

# `01` Import Necessary Libraries

## `i` Default Libraries

In [1]:
import numpy as np
import pandas as pd
from surprise.reader import Reader
from surprise.dataset import Dataset
from surprise.model_selection import train_test_split
from surprise.prediction_algorithms.knns import KNNWithMeans

## `ii` Additional Libraries
Add imports for additional libraries you used throughout the notebook

In [2]:
from sklearn.metrics.pairwise import cosine_similarity

## `iii` Global Variables

In [3]:
# K = 5

----------------------------

# `02` Load Data

 The dataset will have the following columns :
   - song_id (String) : Unique identified for the song
   - user_id (String) : Unique identifier for the user
   - song_genre (Integer) : An integer representing a genre for the song, value is between 1 and 5, indicating that there are 5 unique genres. Each song can only have 1 genre
   - artist_id (String) : Unique identifier for the author of the song
   - n_listen (Integer) : The number of times this user has heard the song (0 -> 15)
   - publish_year (Integer) : The year of song publishing

In [4]:
data = pd.read_csv("Data/songs_data.csv")
data.head()

   song_id  artist_id  song_genre  user_id  n_listen  publish_year
0      537        368           4     2066        13          2002
1      921        107           1     1179         5          2006
2      352        188           1     1468        11          2013
3      853        370           4      460         9          2020
4      479        408           2     1125         3          2020

--------------------------

# `03` Content-based Filtering

Practice for content-based filtering on dummy data

## `i` Feature Engineering/Selection
Construct the item vector representation matrix from the `data` above

In [5]:
# Group by song_id and calculate the average number of listens
item_vectors = data.groupby('song_id').agg({
    'artist_id': 'first',  # Assuming each song has one artist
    'song_genre': 'first',  # Assuming each song has one genre
    'publish_year': 'first',  # Assuming each song has one publish year
    'n_listen': 'mean'  # Average number of listens
}).reset_index()

# Set the index to song_id
item_vectors.set_index('song_id', inplace=True)

item_vectors.head()

         artist_id  song_genre  publish_year  n_listen
song_id
1              156           2          2002  7.963362
2              328           3          2016  7.801782
3              219           4          2015  7.405462
4              361           2          2004  7.598272
5              297           5          2004  7.533730

## `ii` Utility Matrix
Construct utility matrix for the loaded dataframe `data`

In [6]:
# Construct the utility matrix
utility_matrix = data.pivot_table(index='user_id', columns='song_id', values='n_listen', fill_value=0)
utility_matrix.head()

song_id,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2,15.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,11.0,0.0,6.0
3,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,11.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0

## `iii` Item-Item Similarity Matrix

Construct item-item (Cosine/Adjusted Cosine) similarity matrix.

In [11]:
# Calculate the cosine similarity between songs
song_similarity = cosine_similarity(utility_matrix.T)
song_similarity_df = pd.DataFrame(song_similarity, index=utility_matrix.columns, columns=utility_matrix.columns)
song_similarity_df.head()
# song_similarity.shape

song_id,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
song_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.103492,0.125318,0.104358,0.115531,0.113679,0.098390,0.084580,0.155508,0.116555,...,0.120627,0.090102,0.116106,0.133108,0.136135,0.099140,0.122903,0.089550,0.121334,0.107726
2,0.103492,1.000000,0.129135,0.105922,0.127303,0.098625,0.104379,0.095586,0.095924,0.128374,...,0.143357,0.126049,0.120713,0.095244,0.102231,0.121410,0.106678,0.127980,0.107115,0.095038
3,0.125318,0.129135,1.000000,0.092726,0.143701,0.116769,0.124291,0.095891,0.100670,0.099052,...,0.079593,0.118746,0.106723,0.129556,0.108218,0.103120,0.126577,0.136246,0.073700,0.097494
4,0.104358,0.105922,0.092726,1.000000,0.110849,0.127045,0.096961,0.093863,0.085224,0.113430,...,0.103600,0.132431,0.148915,0.093695,0.095771,0.119450,0.101084,0.100977,0.137077,0.114204
5,0.115531,0.127303,0.143701,0.110849,1.000000,0.097707,0.096947,0.137108,0.110604,0.112007,...,0.099270,0.123930,0.120146,0.168898,0.135543,0.088356,0.099578,0.099027,0.101542,0.116841

In [9]:
# Normalize the utility matrix by subtracting the mean rating of each user
user_mean = utility_matrix.mean(axis=1)
normalized_utility_matrix = utility_matrix.sub(user_mean, axis=0)

# Calculate the adjusted cosine similarity
adjusted_cosine_similarity = cosine_similarity(normalized_utility_matrix.T)
adjusted_cosine_similarity_df = pd.DataFrame(
    adjusted_cosine_similarity, 
    index=utility_matrix.columns, 
    columns=utility_matrix.columns
)

adjusted_cosine_similarity_df.head()

song_id,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
song_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,-0.012372,0.010704,-0.012589,-0.006207,-0.002770,-0.017892,-0.032921,0.047479,0.002743,...,0.008055,-0.025983,-0.001513,0.018727,0.024555,-0.018381,0.011152,-0.030406,0.008451,-0.009266
2,-0.012372,1.000000,0.018636,-0.007126,0.010482,-0.015778,-0.007366,-0.016555,-0.015606,0.020205,...,0.037449,0.018345,0.007328,-0.020485,-0.009829,0.010431,-0.002963,0.016567,-0.003700,-0.019831
3,0.010704,0.018636,1.000000,-0.023619,0.027498,0.003042,0.013467,-0.017837,-0.011899,-0.014399,...,-0.035842,0.008570,-0.010093,0.016650,-0.004701,-0.011780,0.017783,0.024340,-0.042923,-0.018694
4,-0.012589,-0.007126,-0.023619,1.000000,-0.009380,0.015033,-0.016922,-0.019722,-0.028876,0.002171,...,-0.008435,0.024342,0.038006,-0.023451,-0.018324,0.007037,-0.010485,-0.015089,0.028807,0.000566
5,-0.006207,0.010482,0.027498,-0.009380,1.000000,-0.025188,-0.023717,0.022243,-0.007393,-0.006755,...,-0.020273,0.008029,-0.001061,0.055397,0.019805,-0.034804,-0.019486,-0.023820,-0.018109,-0.003093

## `iv` Top-K Candidate Generation

Selet top-K (a k of your choice) similar items for each item (a user of your choice) rated from the similarity matrix above.

In [10]:
K = 5

## `v` Candidate Filtering

Filter out items (your user) has rated from the candidates above.

In [11]:
# Select a user of your choice
user_id = 1

# Get the songs rated by the user
rated_songs = utility_matrix.loc[user_id]
rated_songs = rated_songs[rated_songs > 0].index

# Generate top-K similar items for each rated song
top_k_candidates = {}
for song in rated_songs:
    # Get similarity scores for the current song
    similar_songs = adjusted_cosine_similarity_df[song].sort_values(ascending=False)
    
    # Exclude the current song and select top-K similar songs
    top_k_similar = similar_songs.drop(song).head(K)
    top_k_candidates[song] = top_k_similar

# Display the top-K candidates for each rated song
top_k_candidates

{7: song_id
 931    0.051350
 262    0.050578
 544    0.049723
 345    0.049164
 598    0.045788
 Name: 7, dtype: float64,
 16: song_id
 993    0.059600
 363    0.053453
 972    0.047728
 121    0.047685
 46     0.047419
 Name: 16, dtype: float64,
 20: song_id
 638    0.068839
 42     0.058616
 878    0.052660
 907    0.052349
 11     0.051654
 Name: 20, dtype: float64,
 30: song_id
 516    0.056848
 304    0.055502
 504    0.054436
 71     0.052198
 171    0.051685
 Name: 30, dtype: float64,
 53: song_id
 676    0.065003
 798    0.056601
 754    0.055554
 600    0.052371
 840    0.049217
 Name: 53, dtype: float64,
 59: song_id
 369    0.065950
 843    0.059185
 965    0.057854
 518    0.052365
 974    0.047367
 Name: 59, dtype: float64,
 61: song_id
 148    0.049108
 983    0.047219
 631    0.046670
 970    0.045101
 502    0.044960
 Name: 61, dtype: float64,
 69: song_id
 676    0.066216
 995    0.061620
 759    0.060857
 669    0.059394
 491    0.054683
 Name: 69, dtype: float64,
 70: song_id
 709    0.059928
 998    0.052440
 74     0.049227
 462    0.048338
 647    0.045626
 Name: 70, dtype: float64,
 82: song_id
 562    0.059117
 908    0.054428
 754    0.052002
 94     0.051095
 12     0.050653
 Name: 82, dtype: float64,
 85: song_id
 262    0.056081
 891    0.051372
 423    0.047705
 502    0.046020
 275    0.045060
 Name: 85, dtype: float64,
 105: song_id
 398    0.057667
 457    0.053657
 527    0.052324
 346    0.052247
 201    0.050304
 Name: 105, dtype: float64,
 108: song_id
 198    0.056486
 707    0.052980
 438    0.051223
 994    0.049993
 850    0.048212
 Name: 108, dtype: float64,
 125: song_id
 625    0.064797
 106    0.061725
 753    0.056136
 278    0.048624
 251    0.046394
 Name: 125, dtype: float64,
 130: song_id
 872    0.066635
 245    0.057003
 485    0.054248
 640    0.054017
 439    0.049784
 Name: 130, dtype: float64,
 131: song_id
 322    0.088452
 21     0.065155
 340    0.054925
 384    0.052308
 316    0.050688
 Name: 131, dtype: float64,
 138: song_id
 266    0.051651
 240    0.050040
 587    0.048024
 486    0.047574
 780    0.047354
 Name: 138, dtype: float64,
 175: song_id
 655    0.058954
 980    0.054012
 660    0.053338
 540    0.052594
 728    0.051458
 Name: 175, dtype: float64,
 176: song_id
 693    0.068599
 254    0.061089
 51     0.057932
 322    0.054458
 196    0.052063
 Name: 176, dtype: float64,
 194: song_id
 722    0.060534
 93     0.052342
 215    0.050959
 234    0.050573
 267    0.049192
 Name: 194, dtype: float64,
 198: song_id
 718    0.070339
 392    0.061414
 108    0.056486
 851    0.052887
 586    0.048847
 Name: 198, dtype: float64,
 205: song_id
 626    0.072989
 414    0.058289
 303    0.056486
 589    0.052431
 798    0.049710
 Name: 205, dtype: float64,
 208: song_id
 303    0.062721
 292    0.053444
 576    0.052428
 210    0.050697
 327    0.047287
 Name: 208, dtype: float64,
 217: song_id
 739    0.053736
 463    0.053015
 446    0.050937
 315    0.049751
 900    0.048823
 Name: 217, dtype: float64,
 221: song_id
 900    0.053200
 794    0.052441
 954    0.049245
 128    0.048359
 466    0.047175
 Name: 221, dtype: float64,
 227: song_id
 255    0.055389
 704    0.048671
 606    0.046914
 799    0.046913
 512    0.044288
 Name: 227, dtype: float64,
 239: song_id
 971    0.070229
 622    0.063655
 133    0.048957
 863    0.048514
 28     0.048255
 Name: 239, dtype: float64,
 245: song_id
 21     0.057846
 130    0.057003
 678    0.053469
 556    0.049623
 595    0.049536
 Name: 245, dtype: float64,
 254: song_id
 956    0.065054
 176    0.061089
 813    0.057618
 423    0.054161
 753    0.047628
 Name: 254, dtype: float64,
 257: song_id
 985    0.065614
 151    0.059374
 523    0.058162
 514    0.054792
 732    0.049328
 Name: 257, dtype: float64,
 258: song_id
 272    0.063909
 603    0.059863
 494    0.059243
 422    0.056050
 635    0.051924
 Name: 258, dtype: float64,
 265: song_id
 161    0.080885
 863    0.070415
 435    0.061490
 284    0.058626
 798    0.057439
 Name: 265, dtype: float64,
 277: song_id
 101    0.063571
 685    0.051382
 316    0.049742
 774    0.048566
 80     0.047917
 Name: 277, dtype: float64,
 294: song_id
 625    0.060165
 264    0.056973
 284    0.055464
 197    0.054800
 712    0.054153
 Name: 294, dtype: float64,
 304: song_id
 30     0.055502
 283    0.049842
 464    0.048357
 691    0.045736
 459    0.045694
 Name: 304, dtype: float64,
 308: song_id
 114    0.057672
 416    0.053103
 993    0.052084
 839    0.050537
 896    0.045329
 Name: 308, dtype: float64,
 309: song_id
 129    0.069250
 114    0.066378
 177    0.063438
 605    0.060204
 751    0.057486
 Name: 309, dtype: float64,
 322: song_id
 131    0.088452
 23     0.067179
 744    0.065580
 436    0.060562
 978    0.058787
 Name: 322, dtype: float64,
 330: song_id
 674    0.069172
 523    0.060169
 692    0.056844
 592    0.056769
 442    0.052288
 Name: 330, dtype: float64,
 336: song_id
 781    0.057581
 748    0.055657
 380    0.055183
 283    0.054347
 128    0.050008
 Name: 336, dtype: float64,
 341: song_id
 715    0.083561
 975    0.060964
 724    0.051284
 182    0.049788
 47     0.049302
 Name: 341, dtype: float64,
 347: song_id
 573    0.055689
 290    0.051580
 880    0.049641
 47     0.048315
 499    0.048101
 Name: 347, dtype: float64,
 352: song_id
 871    0.074483
 333    0.053450
 27     0.049187
 443    0.048128
 924    0.047798
 Name: 352, dtype: float64,
 362: song_id
 52     0.053234
 827    0.047895
 536    0.047012
 191    0.044524
 654    0.043622
 Name: 362, dtype: float64,
 374: song_id
 271    0.071366
 285    0.060851
 77     0.054690
 292    0.053856
 771    0.048328
 Name: 374, dtype: float64,
 376: song_id
 246    0.067136
 582    0.062421
 29     0.051328
 956    0.050518
 280    0.047061
 Name: 376, dtype: float64,
 377: song_id
 587    0.062823
 37     0.050338
 224    0.050171
 269    0.047554
 831    0.046976
 Name: 377, dtype: float64,
 384: song_id
 715    0.061736
 628    0.053500
 131    0.052308
 525    0.048554
 757    0.048260
 Name: 384, dtype: float64,
 396: song_id
 49     0.071373
 692    0.056895
 19     0.052759
 174    0.052136
 799    0.050910
 Name: 396, dtype: float64,
 405: song_id
 209    0.069323
 46     0.060128
 893    0.056539
 446    0.051609
 120    0.048259
 Name: 405, dtype: float64,
 406: song_id
 624    0.053930
 660    0.049636
 350    0.048907
 688    0.047803
 163    0.045751
 Name: 406, dtype: float64,
 424: song_id
 27     0.076120
 228    0.050680
 381    0.045529
 677    0.044754
 564    0.042620
 Name: 424, dtype: float64,
 425: song_id
 96     0.059578
 939    0.056915
 995    0.050714
 174    0.049872
 988    0.048600
 Name: 425, dtype: float64,
 428: song_id
 797    0.047190
 332    0.047022
 981    0.043750
 854    0.043060
 890    0.042327
 Name: 428, dtype: float64,
 429: song_id
 433    0.061998
 200    0.057768
 282    0.057028
 936    0.056129
 681    0.049815
 Name: 429, dtype: float64,
 434: song_id
 469    0.074231
 118    0.062300
 127    0.051663
 761    0.051424
 344    0.050904
 Name: 434, dtype: float64,
 439: song_id
 303    0.072364
 213    0.057528
 539    0.056313
 98     0.052778
 130    0.049784
 Name: 439, dtype: float64,
 449: song_id
 970    0.062036
 407    0.054545
 811    0.051199
 371    0.050031
 161    0.048549
 Name: 449, dtype: float64,
 453: song_id
 44     0.065065
 946    0.049528
 9      0.049282
 58     0.049165
 390    0.047208
 Name: 453, dtype: float64,
 458: song_id
 230    0.064440
 122    0.059634
 995    0.058892
 533    0.049742
 359    0.048590
 Name: 458, dtype: float64,
 470: song_id
 929    0.071881
 957    0.066733
 117    0.055627
 712    0.054821
 574    0.053422
 Name: 470, dtype: float64,
 472: song_id
 889    0.069667
 361    0.051609
 546    0.049676
 256    0.049086
 389    0.048410
 Name: 472, dtype: float64,
 488: song_id
 580    0.058959
 707    0.058401
 678    0.050031
 236    0.049786
 225    0.047465
 Name: 488, dtype: float64,
 491: song_id
 824    0.060027
 69     0.054683
 576    0.050825
 909    0.047953
 246    0.046025
 Name: 491, dtype: float64,
 492: song_id
 365    0.063140
 970    0.053902
 672    0.051796
 589    0.050728
 805    0.048780
 Name: 492, dtype: float64,
 494: song_id
 433    0.072947
 64     0.065618
 258    0.059243
 704    0.048608
 414    0.048522
 Name: 494, dtype: float64,
 510: song_id
 466    0.069538
 342    0.056354
 273    0.052011
 732    0.049484
 175    0.049407
 Name: 510, dtype: float64,
 524: song_id
 693    0.050434
 326    0.050260
 739    0.047301
 634    0.046994
 879    0.046810
 Name: 524, dtype: float64,
 528: song_id
 875    0.052239
 824    0.050753
 314    0.045579
 794    0.045485
 928    0.045015
 Name: 528, dtype: float64,
 529: song_id
 410    0.074969
 375    0.051092
 137    0.048115
 465    0.047926
 58     0.047426
 Name: 529, dtype: float64,
 530: song_id
 654    0.061527
 8      0.059422
 790    0.058005
 639    0.051155
 616    0.050775
 Name: 530, dtype: float64,
 532: song_id
 731    0.057188
 321    0.057028
 570    0.054266
 598    0.053289
 422    0.053105
 Name: 532, dtype: float64,
 535: song_id
 223    0.062679
 786    0.049303
 859    0.046580
 583    0.045570
 51     0.045015
 Name: 535, dtype: float64,
 547: song_id
 201    0.049191
 341    0.048333
 448    0.047010
 203    0.045554
 333    0.045479
 Name: 547, dtype: float64,
 557: song_id
 363    0.066304
 25     0.058837
 791    0.056230
 906    0.053650
 747    0.050114
 Name: 557, dtype: float64,
 565: song_id
 637    0.065907
 702    0.061419
 34     0.056753
 178    0.055597
 688    0.053625
 Name: 565, dtype: float64,
 571: song_id
 727    0.065395
 426    0.065289
 810    0.060125
 772    0.056294
 339    0.055115
 Name: 571, dtype: float64,
 576: song_id
 11     0.057065
 208    0.052428
 369    0.052310
 237    0.050992
 491    0.050825
 Name: 576, dtype: float64,
 579: song_id
 711    0.057150
 958    0.052860
 52     0.047456
 973    0.047053
 309    0.046200
 Name: 579, dtype: float64,
 580: song_id
 153    0.068881
 488    0.058959
 76     0.056040
 146    0.050649
 715    0.047187
 Name: 580, dtype: float64,
 582: song_id
 3      0.079294
 376    0.062421
 521    0.057148
 963    0.051397
 257    0.047601
 Name: 582, dtype: float64,
 595: song_id
 608    0.065361
 67     0.055939
 868    0.049561
 245    0.049536
 583    0.048959
 Name: 595, dtype: float64,
 600: song_id
 967    0.054197
 88     0.053095
 53     0.052371
 676    0.052181
 981    0.050144
 Name: 600, dtype: float64,
 601: song_id
 641    0.056874
 968    0.052846
 572    0.050026
 329    0.047291
 771    0.045839
 Name: 601, dtype: float64,
 602: song_id
 275    0.065662
 886    0.056103
 388    0.054181
 43     0.052604
 663    0.050451
 Name: 602, dtype: float64,
 603: song_id
 258    0.059863
 144    0.052926
 37     0.049804
 706    0.048869
 731    0.048462
 Name: 603, dtype: float64,
 611: song_id
 971    0.060377
 423    0.058136
 56     0.055248
 73     0.052425
 484    0.052196
 Name: 611, dtype: float64,
 613: song_id
 666    0.073968
 506    0.057527
 550    0.057460
 421    0.052760
 853    0.047777
 Name: 613, dtype: float64,
 623: song_id
 671    0.051078
 300    0.046531
 352    0.044387
 874    0.043882
 20     0.043573
 Name: 623, dtype: float64,
 626: song_id
 205    0.072989
 622    0.057949
 383    0.052658
 768    0.050890
 88     0.050069
 Name: 626, dtype: float64,
 629: song_id
 712    0.057099
 768    0.056642
 137    0.054917
 906    0.047604
 645    0.047342
 Name: 629, dtype: float64,
 645: song_id
 689    0.072246
 99     0.064287
 359    0.058427
 999    0.050907
 264    0.049953
 Name: 645, dtype: float64,
 651: song_id
 72     0.059118
 731    0.054656
 787    0.051853
 288    0.051583
 897    0.050759
 Name: 651, dtype: float64,
 653: song_id
 712    0.063567
 734    0.061304
 814    0.052891
 1      0.052818
 918    0.051024
 Name: 653, dtype: float64,
 659: song_id
 826    0.064840
 503    0.059348
 167    0.053529
 368    0.053072
 103    0.049952
 Name: 659, dtype: float64,
 667: song_id
 723    0.068284
 166    0.060203
 821    0.050651
 172    0.049884
 140    0.047244
 Name: 667, dtype: float64,
 672: song_id
 473    0.055618
 89     0.052154
 492    0.051796
 337    0.050045
 655    0.048475
 Name: 672, dtype: float64,
 682: song_id
 380    0.058265
 465    0.057485
 134    0.054648
 785    0.051704
 261    0.048674
 Name: 682, dtype: float64,
 691: song_id
 859    0.070054
 8      0.051501
 994    0.051437
 307    0.051128
 191    0.049549
 Name: 691, dtype: float64,
 692: song_id
 396    0.056895
 330    0.056844
 976    0.056345
 114    0.049856
 400    0.048680
 Name: 692, dtype: float64,
 701: song_id
 337    0.063329
 151    0.052465
 591    0.052270
 606    0.051466
 815    0.048766
 Name: 701, dtype: float64,
 704: song_id
 784    0.059609
 643    0.057371
 718    0.052873
 938    0.050154
 978    0.049797
 Name: 704, dtype: float64,
 716: song_id
 781    0.061841
 619    0.058556
 413    0.056418
 289    0.052994
 104    0.049921
 Name: 716, dtype: float64,
 717: song_id
 828    0.060458
 837    0.057346
 895    0.053874
 151    0.052169
 861    0.050594
 Name: 717, dtype: float64,
 725: song_id
 118    0.062758
 815    0.058970
 621    0.057633
 343    0.057112
 457    0.056074
 Name: 725, dtype: float64,
 726: song_id
 466    0.059806
 122    0.059424
 97     0.053335
 445    0.052250
 920    0.052069
 Name: 726, dtype: float64,
 731: song_id
 363    0.058225
 532    0.057188
 420    0.055564
 651    0.054656
 845    0.052106
 Name: 731, dtype: float64,
 734: song_id
 915    0.071019
 686    0.068546
 653    0.061304
 8      0.055266
 773    0.054311
 Name: 734, dtype: float64,
 746: song_id
 162    0.057353
 805    0.054940
 31     0.053826
 542    0.050006
 606    0.046243
 Name: 746, dtype: float64,
 752: song_id
 109    0.050834
 704    0.044616
 146    0.043264
 61     0.042586
 496    0.041509
 Name: 752, dtype: float64,
 766: song_id
 482    0.066077
 238    0.049861
 952    0.048571
 450    0.048042
 838    0.047801
 Name: 766, dtype: float64,
 771: song_id
 310    0.072785
 999    0.060855
 327    0.057421
 407    0.056658
 624    0.054874
 Name: 771, dtype: float64,
 775: song_id
 132    0.066440
 946    0.060099
 400    0.054348
 364    0.052378
 56     0.051213
 Name: 775, dtype: float64,
 789: song_id
 39     0.083475
 855    0.072060
 139    0.055201
 660    0.053095
 676    0.051772
 Name: 789, dtype: float64,
 796: song_id
 636    0.062449
 455    0.052661
 594    0.051210
 865    0.051066
 689    0.050395
 Name: 796, dtype: float64,
 802: song_id
 824    0.054614
 588    0.051713
 739    0.051585
 404    0.049290
 329    0.049080
 Name: 802, dtype: float64,
 814: song_id
 587    0.053903
 653    0.052891
 415    0.051441
 807    0.050637
 558    0.046821
 Name: 814, dtype: float64,
 831: song_id
 532    0.051472
 440    0.050079
 141    0.047231
 377    0.046976
 320    0.044695
 Name: 831, dtype: float64,
 833: song_id
 615    0.056776
 650    0.052923
 690    0.049197
 217    0.047255
 120    0.046759
 Name: 833, dtype: float64,
 836: song_id
 962    0.049202
 990    0.048683
 285    0.045722
 406    0.044638
 766    0.044125
 Name: 836, dtype: float64,
 841: song_id
 11     0.054460
 129    0.053761
 558    0.049274
 856    0.046131
 686    0.045084
 Name: 841, dtype: float64,
 851: song_id
 417    0.062749
 980    0.060790
 495    0.058508
 31     0.056494
 153    0.053304
 Name: 851, dtype: float64,
 858: song_id
 893    0.061261
 6      0.060061
 387    0.057487
 518    0.056829
 41     0.049922
 Name: 858, dtype: float64,
 863: song_id
 265    0.070415
 961    0.054649
 399    0.052168
 659    0.048533
 239    0.048514
 Name: 863, dtype: float64,
 864: song_id
 568    0.054480
 81     0.044897
 902    0.042393
 62     0.042240
 823    0.041571
 Name: 864, dtype: float64,
 874: song_id
 165    0.056717
 142    0.055561
 729    0.052944
 688    0.052361
 754    0.050511
 Name: 874, dtype: float64,
 875: song_id
 823    0.071479
 780    0.062837
 448    0.053852
 528    0.052239
 636    0.051602
 Name: 875, dtype: float64,
 882: song_id
 340    0.058048
 323    0.053230
 614    0.048517
 627    0.047958
 383    0.047220
 Name: 882, dtype: float64,
 892: song_id
 86     0.062403
 654    0.053414
 920    0.052469
 952    0.051786
 119    0.051318
 Name: 892, dtype: float64,
 911: song_id
 297    0.063521
 263    0.059570
 503    0.056374
 91     0.048273
 143    0.048062
 Name: 911, dtype: float64,
 925: song_id
 378    0.071199
 995    0.053587
 284    0.051741
 801    0.049248
 161    0.049217
 Name: 925, dtype: float64,
 935: song_id
 62     0.064677
 729    0.056065
 958    0.051862
 489    0.049044
 282    0.047613
 Name: 935, dtype: float64,
 954: song_id
 567    0.057829
 313    0.049960
 221    0.049245
 231    0.047276
 862    0.046068
 Name: 954, dtype: float64,
 961: song_id
 68     0.056928
 863    0.054649
 4      0.052980
 687    0.052699
 905    0.051779
 Name: 961, dtype: float64,
 967: song_id
 220    0.069930
 98     0.054603
 600    0.054197
 313    0.052089
 536    0.048204
 Name: 967, dtype: float64,
 971: song_id
 239    0.070229
 611    0.060377
 552    0.054272
 12     0.050003
 136    0.047561
 Name: 971, dtype: float64,
 981: song_id
 446    0.066982
 87     0.052018
 33     0.051866
 72     0.051358
 600    0.050144
 Name: 981, dtype: float64,
 983: song_id
 153    0.084041
 97     0.064528
 707    0.057900
 23     0.057713
 357    0.056504
 Name: 983, dtype: float64,
 989: song_id
 112    0.058050
 740    0.057852
 871    0.054198
 316    0.045366
 890    0.044626
 Name: 989, dtype: float64,
 995: song_id
 69     0.061620
 458    0.058892
 448    0.057828
 925    0.053587
 425    0.050714
 Name: 995, dtype: float64}

## `vi` Candidate Rating Prediction

Calculate the predicted rating for each of the candidate items.

In [12]:
# Calculate the predicted rating for each candidate item
predicted_ratings = {}

for song, similar_songs in top_k_candidates.items():
    # Calculate the weighted sum of ratings for the top-K similar songs
    weighted_sum = 0
    similarity_sum = 0
    
    for similar_song, similarity in similar_songs.items():
        if similar_song in rated_songs:
            weighted_sum += similarity * utility_matrix.loc[user_id, similar_song]
            similarity_sum += similarity
    
    # Avoid division by zero
    if similarity_sum > 0:
        predicted_ratings[song] = weighted_sum / similarity_sum
    else:
        predicted_ratings[song] = 0
# Convert the predicted ratings dictionary into a DataFrame for better readability
predicted_ratings_df = pd.DataFrame(list(predicted_ratings.items()), columns=['Song ID', 'Predicted Rating'])

# Sort the DataFrame by predicted rating in descending order
predicted_ratings_df = predicted_ratings_df.sort_values(by='Predicted Rating', ascending=False)

# Display the top 10 predicted ratings
print("Top 10 Predicted Ratings:")
print(predicted_ratings_df.head(10))

Top 10 Predicted Ratings:
     Song ID  Predicted Rating
21       205         15.000000
99       692         14.499777
4         53         14.000000
22       208         14.000000
134      967         14.000000
45       376         14.000000
73       547         14.000000
12       108         14.000000
136      981         14.000000
24       221         14.000000

--------------------------

# `04` KNN Item-based Colaborative Filtering

Practice for Using Scikit Surprise Library

## `i` Data Loading

Load `songsDataset.csv` file into a dataframe

In [13]:
df = pd.read_csv('Data/songsDataset.csv')
df.head()

   userID  songID  rating
0       0   90409       5
1       4   91266       1
2       5    8063       2
3       5   24427       4
4       5  105433       4

## `ii` Prepare Data

Procedures to Follow:
- Instantiate the Reader Object (see, [Documentation](https://surprise.readthedocs.io/en/stable/reader.html))
- Load the Data into `surprise.dataset.Dataset` (see, [Documentation](https://surprise.readthedocs.io/en/stable/dataset.html))
- Build the full (i.e. without folds) `surprise.Trainset` (see, [Documentation](https://surprise.readthedocs.io/en/stable/trainset.html#:~:text=It%20is%20used%20by%20the%20fit()%20method%20of%20every%20prediction%20algorithm.%20You%20should%20not%20try%20to%20build%20such%20an%20object%20on%20your%20own%20but%20rather%20use%20the%20Dataset.folds()%20method%20or%20the%20DatasetAutoFolds.build_full_trainset()%20method.))

In [14]:
reader = Reader(rating_scale=(1, 15))

In [15]:
data = Dataset.load_from_df(df[['userID', 'songID', 'rating']], reader)
data

## `iii` Initialize the `KNNWithMeans` Model

**Note**: `KNNWithMeans` uses the normalized ratings instead of the raw ones. (See [Documentation](https://surprise.readthedocs.io/en/stable/knn_inspired.html#surprise.prediction_algorithms.knns.KNNWithMeans))

**Hint**: Use $k=10$ and configure `sim_options` to be:
- item_based
- pearson

In [16]:
K = 10

## `iv` Fit the Model on Data

In [19]:
trainset = data.build_full_trainset()
testset = trainset.build_anti_testset()

knn = KNNWithMeans(k=K, sim_options={'name': 'cosine', 'user_based': False})

knn.fit(trainset)

predictions = knn.test(testset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [20]:
knn

## `v` Calculate Predicted Rating $\hat{r}$ for User $199988$

**Hine**: you can use `.predict()` method of the model (see [Documentaion](https://surprise.readthedocs.io/en/stable/getting_started.html?highlight=.predict#train-on-a-whole-trainset-and-the-predict-method:~:text=pred%20%3D%20algo.predict(uid%2C%20iid%2C%20r_ui%3D4%2C%20verbose%3DTrue)))

In [42]:
# Extract the top 5 songs from the predictions
song_predictions = [{'Song ID': pred.iid, 'Predicted Rating': pred.est} for pred in predictions[:5]]

# Create a DataFrame from the list of dictionaries
song_predictions = pd.DataFrame(song_predictions)

# Display the top 5 songs as a table
print(song_predictions.to_string(index=False))

 Song ID  Predicted Rating
   91266          4.519379
    8063          5.092055
   24427          5.054134
  105433          5.179365
  134732          5.048668

## `vi` Recommend Top 10 Songs

In [43]:
song_predictions = [{'Song ID': pred.iid, 'Predicted Rating': pred.est} for pred in predictions[:10]]

# Create a DataFrame from the list of dictionaries
song_predictions = pd.DataFrame(song_predictions)

# Display the top 5 songs as a table
print(song_predictions.to_string(index=False))

 Song ID  Predicted Rating
   91266          4.519379
    8063          5.092055
   24427          5.054134
  105433          5.179365
  134732          5.048668
  105421          4.473427
   19670          4.425180
   79622          4.802118
   86341          4.719136
  131048          4.908481

----------------------------------------------

$$ Wish \space you \space all \space the \space best \space ♡ $$
$$ Abdelrahman \space Eid $$